# OS Junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
venv/
.env

# Ruby/Rails
/backend-core/log/*
/backend-core/tmp/*
/backend-core/db/*.sqlite3
/backend-core/storage/*
.bundle/

# IDEs
.vscode/
.idea/